# Maven build
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
/.idea
*.iml

# VS Code
.vscode/

# Mac OS
.DS_Store

# Logs & reports
/test-output/
screenshots/
allure-results/
ExtentReport/

# Selenium WebDriver logs
chromedriver.log
geckodriver.log
selenium-server.log

# Temporary or compiled files
*.class
*.jar
*.log
*.out
*.err
/bin/

# Maven dependencies cache (optional)
# /.m2/
