<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%-5level] %c{1} - %msg%n"/>
        </Console>

        <!-- File output -->
        <file name="FileLogger" filename="logs/framework.log" append="false">
            <filters>
                <!-- Exclude ERROR and FATAL logs -->
                <thresholdfilter level="error" onMatch="DENY" onMismatch="ACCEPT" />
            </filters>
            <patternlayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %C{1} - %msg%n" />
        </file>

        <!-- Error File Appender -->
        <file name="ErrorFileLogger" filename="logs/error.log" append="false">
            <filters>
                <!-- Include only ERROR and FATAL logs -->
                <thresholdfilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
            </filters>
            <patternlayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %C{1} - %msg%n" />
        </file>
    </Appenders>

    <loggers>
        <logger name="com.myorg.apitests" level="trace" additivity="false">
            <appenderref ref="Console" />
            <appenderref ref="FileLogger" />
            <appenderref ref="ErrorFileLogger" />
        </logger>
    </loggers>

</Configuration>

