<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Suite" parallel="tests" thread-count="2">

    <listeners>
        <listener class-name="com.myorg.apitests.listeners.TestListener"/>
    </listeners>


<!--    <test name="FakeStoreTests">-->
<!--        <classes>-->
<!--            <class name="com.myorg.apitests.apis.fakestore.ProductTests"/>-->
<!--        </classes>-->
<!--    </test>-->

    <test name="Booker API Tests">
        <classes>
            <class name="com.myorg.apitests.apis.booker.AuthTest" />
            <class name="com.myorg.apitests.apis.booker.CRUDTest" />
        </classes>
    </test>
</suite>