<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Suite" parallel="tests">

    <test name="FakeStoreTests">
        <classes>
            <class name="com.myorg.apitests.apis.fakestore.ProductTests"/>
        </classes>
    </test>

<!--    <test name="RestfulBookerTests">-->
<!--        <classes>-->
<!--            <class name="com.myorg.apitests" />-->
<!--            <class name="com.orangehrm.tests.APITest" />-->
<!--        </classes>-->
<!--    </test>-->
</suite>